main {
    display: flex; 
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 10px 20px;
    border: 1px solid #586e75;
    border-radius: 3px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    background-color: #eee8d5;
    border-bottom: 1px solid #586e75;
}

.log {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.log > div {
    display: flex;
    flex-direction: column;
    border: 1px solid #93a1a1;
}

.log > div > * {
    padding: 5px;
    border-bottom: 1px solid #93a1a1;
}

.log > div > *:last-child {
    border-bottom: none;
}

.request {
    color: #586e75;
}

.response.good > div:first-child {
    color: #859900; 
}

.response.bad > div:first-child {
    color: #dc322f; 
}

.response details {
    color: #93a1a1;
}

.response details pre {
    margin-left: 10px;
}
